<div class="comments-details">
  <div class="comments-container">
    <div class="posts-title">
      <h2>Post   <%= @post.id %> by <%= @user.name %></h2>
      </div>
    <div class="likes-comments">
      <span class="comments">Comments: <%= @post.comments_counter %>, </span>
      <span class="likes">Likes: <%= @post.likes_counter %></span>
      <!-- app/views/posts/show.html.erb -->
    <% if can? :destroy, @post %>
      <%= button_to "Delete", user_post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %>
    <% end %>

    </div>
    <p><%= @post.text %></p>
    </div>
  </div>

  <div class="comments-container">
    <% @comments = Post.find(@post.id).comments %>
      <% @comments.includes(:author).each do |comment| %>
        <div>
          <span><%= comment.author.name %> : <%= comment.text %></span>
        </div>
        <% if can? :destroy, comment %>
          <%= link_to "Delete", user_post_comment_path(@post.author, @post, comment), method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
      <% end %>
  </div>
 
  <%= form_with url: "/users/#{@post.author.id}/posts/#{@post.id}/likes" do |form| %>
    <%= form.submit 'Like', class: 'like_btn' %>
    <% end %>

  <button class='back-button'><%= link_to "Add a comment", new_user_post_comment_path(@post.author, @post) %></button>

  <div>
  <button class='back-button'>
      <%= link_to "Back to all users", root_path %>
    </button>
    </div>
</div>